body{
    background-color:rgb(253, 249, 249);
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

#main{
    text-align: center;
}

#title{
    font-size: 50px;
}

#timer-div{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 20px;
}
  
#slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(252, 42, 147);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
#slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + #slider:before {
    transform: translateX(26px);
}

h3{
    font-size: 25px;
    margin: 0;
    padding: 0;
}

#time{
    font-weight: 900;
    font-style: italic;
    font-size: 250px;
    margin: 0;
    padding: 0;
}

button{
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid darkgray;
    font-size: 20px;
    margin: 0 20px;
    cursor: pointer;
    width: 125px;
}

button:focus{
    outline: none;
}

button:hover{
    background-color: rgba(252, 42, 147, 0.75);
    transition: 0.5s;
}